nav{
    background-color:black;
    width: 100%;
    height: 80%;
}
.company{
    color: white;
    font-size: 30px;
    margin: 0 30%;
    line-height: 150px;
    font-weight: bold;
    text-shadow: 5px 5px 5px #03e9fa,
                 20px 0px 25px #03e9fa,
                 40px 5px 40px #03e9fa,
                 80px 75px 75px #03e9fa;
    float: center;

}

#check{
    display: none;
}
@media(max-width:952px) {
    .company{
        font-size: 16px;
        padding-left: 40px;
    }
}
